@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

/*---------------------------------------------------------Background*/

.background {
    background: url("../assets/images/background.jpg");
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*---------------------------------------------------------Header*/

.logo {
    background: url("../assets/images/40klogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
    top: 40px;
}

.intro-vid {
    top: 150px;
    margin: 0 auto;
    padding-top: 50px;
}

@media (max-width: 767px) {
    .intro-vid {
        display: none;
    }
}

.replacement {
    background: url("../assets/images/replacement.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 20px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .replacement {
        display: none;
    }
}

.header {
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-family: "teko", sans-serif;
    padding-bottom: 30px;
    padding-top: 20px;
}

/*---------------------------------------------------------Introductory collapse*/

.intro-collapse {
    font-size: 50px;
    color: #fafafa;
    text-align: center;
    bottom: 30px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

a:hover {
    color: #575757;
    text-decoration: none;
}

.card {
    background-color: transparent;
}

.collapse-header {
    color: #fafafa;
    font-family: "teko", sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.collapse-filler {
    background: url("../assets/images/collapse-filler.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 125px;
    margin: 0 auto;
}

.collapse-text {
    color: #fafafa;
    font-family: "teko", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

/*---------------------------------------------------------Faction images*/

.space-marine {
    background: url("../assets/images/spacemarine.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    margin-bottom: 60px;
}

.chaos-space-marine {
    background: url("../assets/images/chaosspacemarine.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    margin-bottom: 60px;
}

.ork {
    background: url("../assets/images/ork.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    margin-bottom: 60px;
}

.asuryani {
    background: url("../assets/images/eldar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    margin-bottom: 60px;
}

.faction {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*---------------------------------------------------------Modals*/

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fafafa;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-content {
    background: url("../assets/images/background.jpg");
}

.faction-info {
    color: #fafafa;
    font-family: "teko", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

/*---------------------------------------------------------Footer*/

.wh-community {
    background: url("../assets/images/wh-community.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 50px;
    margin-bottom: 60px;
}

.footer-description {
    font-family: "teko", sans-serif;
    text-align: center;
    color: #fafafa;
    display: block;
    letter-spacing: 1px;
    font-size: 16px;
}

@media (max-width: 767px) {
    .footer-description {
        display: none;
    }
}


.footer-text {
    font-family: "teko", sans-serif;
    text-align: center;
    color: #555555;
    display: block;
    margin-top: 50px;
}

.gw-home {
    background: url("../assets/images/gw-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 50px;
    margin-bottom: 60px;
}

.fw-home {
    background: url("../assets/images/fw-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 50px;
    margin-bottom: 60px;
}

.bl-home {
    background: url("../assets/images/bl-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 50px;
    margin-bottom: 60px;
}

.footer-logo {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.social-container {
    text-align: center;
}

.social {
    color: #fafafa;
    font-size: 20px;
    margin: 20px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.social-container li a i:hover {
    color: #575757;
}
