@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

/*---------------------------------------------------------Background*/

.background {
    background: url("../images/background.jpg");
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.gen-text {
    color: #fafafa;
    font-family: "teko", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

/*---------------------------------------------------------Icons*/

.icon-container {
    text-align: center;
}

.icon {
    color: #fafafa;
    font-size: 20px;
    margin: 20px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.icon-container a i:hover {
    color: #575757;
}

/*---------------------------------------------------------Header*/

.logo {
    background: url("../images/40klogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
    top: 70px;
}

.intro-vid {
    top: 150px;
    margin: 0 auto;
    padding-top: 50px;
}

@media (max-width: 767px) {
    .intro-vid {
        display: none;
    }
}

.replacement {
    background: url("../images/replacement.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 100px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .replacement {
        display: none;
    }
}

.header {
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-family: "teko", sans-serif;
    padding-bottom: 30px;
    padding-top: 100px;
}

.tag-line {
    padding-top: 200px;
}

.nav-fixed {
    position: fixed;
    z-index: 2;
}

@media (min-width: 768px) {
    .nm-navbar {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .bg-dark {
        background-color: transparent!important;
    }
    .navbar {
        position: absolute;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0;
        left: 75%;
    }
}

@media (max-width: 767px) {
    .nm-nav-faction {
        display: none;
    }
}


@media (min-width: 768px) {
    .mobile-nav-faction {
        display: none;
    }
}

.nav-anchor {
    width: 100%;
    text-align: center;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #343a40;
    border: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: .25rem;
}

/*---------------------------------------------------------Introductory collapse*/

.intro-collapse {
    font-size: 50px;
    color: #fafafa;
    text-align: center;
    bottom: 30px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

a:hover {
    color: #575757;
    text-decoration: none;
}

.card {
    background-color: transparent;
}

.collapse-header {
    color: #fafafa;
    font-family: "teko", sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.collapse-filler {
    background: url("../images/collapse-filler.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 125px;
    margin: 0 auto;
}

.collapse-text {
    color: #fafafa;
    font-family: "teko", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

@media (max-width:767px) {
    .non-mobile-text {
        display: none;
    }
}

@media (min-width:768px) {
    .mobile-collapse {
        display: none;
    }
}

/*---------------------------------------------------------Faction images*/

.faction-container {
    max-height: 180px;
    margin-bottom: 20px;
}


@media (min-width:768px) {
    .mobile-faction {
        display: none;
    }
}

.faction-image {
    margin: 0 auto;
    display: block;
    max-height: 100%;

}

@media (max-width:767px) {
    .non-mobile-faction {
        display: none;
    }
}

.nm-facton-img {
    max-height: 800px;
}

/*---------------------------------------------------------Modals*/

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fafafa;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-content {
    background: url("../images/background.jpg");
}

.faction-info {
    color: #fafafa;
    font-family: "teko", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.newsletter-modal {
    text-align: center;
}

.newsletter-container {
    padding: 50px;
}

.newsletter-callout {
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-family: "teko", sans-serif;
}

.newsletter-icon {
    color: #fafafa;
    font-size: 20px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

/*---------------------------------------------------------Footer*/

footer-container {
    max-width: 150px;
}

.footer-image {
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

.footer-description {
    font-family: "teko", sans-serif;
    text-align: center;
    color: #fafafa;
    display: block;
    letter-spacing: 1px;
    font-size: 16px;
    position: relative;
}

@media (max-width: 767px) {
    .footer-description {
        display: none;
    }
}

.footer-text {
    font-family: "teko", sans-serif;
    text-align: center;
    color: #555555;
    display: block;
    margin-top: 50px;
}

.footer-logo {
    display: block;
    width: 100%;
    height: 100%;
}
