@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

/*HTML*/

html {
    scroll-behavior: smooth;
}

/*Background*/

.background {
    background: url("../images/background.jpg");
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.gen-text {
    color: #fafafa;
    font-family: "Teko", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

/*Icons*/

.icon-container {
    text-align: center;
}

.icon {
    color: #fafafa;
    font-size: 20px;
    margin: 20px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.icon-container a i:hover {
    color: #edc25c;
}

/*Header*/

.logo {
    background: url("../images/40klogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
    top: 70px;
}

.intro-vid {
    top: 150px;
    margin: 0 auto;
    padding-top: 50px;
}

@media (max-width: 767px) {
    .intro-vid {
        display: none;
    }
}

.replacement {
    background: url("../images/replacement.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 100px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .replacement {
        display: none;
    }
}

.header {
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    padding-bottom: 30px;
}

.tag-line {
    padding-top: 160px;
}

/*Navbar*/

.bg-dark {
    background-color: rgba(52, 58, 64, 0.6)!important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgba(52, 58, 64, 0.6)!important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #a88f52;
}

.navbar-dark .navbar-nav .nav-link {
    color: #edc25c;
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #a88f52;
}

@media (max-width: 767px) {
    .faction-nav-nm {
        display: none;
    }
}

@media (min-width: 768px) {
    .faction-nav-mob {
        display: none;
    }
}

.nav-fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    
}

/*Introductory collapse*/

.intro-collapse {
    font-size: 50px;
    color: #fafafa;
    text-align: center;
    bottom: 30px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

a:hover {
    color: #edc25c;
    text-decoration: none;
}

.card {
    background-color: transparent;
}

.collapse-header {
    color: #fafafa;
    font-family: "Teko", sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.collapse-filler {
    background: url("../images/collapse-filler.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 125px;
    margin: 0 auto;
}

.collapse-text {
    color: #fafafa;
    font-family: "Teko", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.click-info {
    color: #edc25c;
    text-align: center;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    padding-bottom: 30px;
}

@media (max-width:767px) {
    .non-mobile-text {
        display: none;
    }
}

@media (min-width:768px) {
    .mobile-collapse {
        display: none;
    }
}

/*Faction images*/

@media (min-width:768px) {
    .mobile-faction {
        display: none;
    }
}

.faction-image {
    margin: 0 auto;
    display: block;
    max-height: 100%;
    padding-top: 40px;
}

@media (max-width:767px) {
    .non-mobile-faction {
        display: none;
    }
}

/*Modals*/

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fafafa;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-content {
    background: url("../images/background.jpg");
}

.faction-info {
    color: #fafafa;
    font-family: "Teko", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.newsletter-modal {
    text-align: center;
}

.newsletter-container {
    padding: 50px;
}

.newsletter-callout {
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
}

.newsletter-icon {
    color: #fafafa;
    font-size: 20px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

/*Footer*/

.footer-container {
    max-width: 150px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .footer-container {
        max-width: 90px;
    }
}

@media (min-width: 768px) {
    .footer-intro {
        display: none;
    }
}

.footer-description {
    font-family: "Teko", sans-serif;
    text-align: center;
    color: #fafafa;
    display: block;
    letter-spacing: 1px;
    font-size: 16px;
    position: relative;
}

@media (max-width: 767px) {
    .footer-description {
        display: none;
    }
}
